html,
body {
  background: #444;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.flex-box {
  flex: 1;
}

.box {
  height: 100%;
  background: #0c1021;
  color: white;
}

.box textarea {
  height: 88%;
  width: 97%;
  margin-left: 1%;
  margin-top: -2%;
}

.white {
  background: white;
}

.child {
  border: 1px solid #262626;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
}

#iframe {
  width: 100%;
  height: 100%;
}
